@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1110px;
    height: 572px;
    margin-top: 164px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 24px;
}

.testimonial-1 {
    position: relative;
    grid-column: 1/ span 2;
    background-color: var(--violet);
    color: var(--white);
    z-index: 1;
}

.quote {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 80px;

}

.testimonial-2 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: var(--dark-grayish-blue);
    color: var(--white);
}

.testimonial-3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--white);
}

.testimonial-4 {
    grid-column: 2/ span 2;
    grid-row: 2 / 3;
    background-color: var(--dark-blackish-blue);
    color: var(--white);
}

.testimonial-5 {
    grid-column: 4/5;
    grid-row: 1 / span 2;
    background-color: var(--white);
}

.box {
    border-radius: 8px;
    padding: 26px 32px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25)
}

.avatar {
    display: flex;
}

.avatar>img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 17px;
}

.testimonial-1>.avatar>img,
.testimonial-4>.avatar>img {
    border: 2px #A775F1 solid;
}

.status {
    font-size: 11px;
    opacity: 50%;
}

.brief {
    font-size: 20px;
    font-weight: 600;
    padding-top: 18px;
}

.detail {
    padding-top: 16px;
    opacity: 70%;
    line-height: 18px;
}

/* mobile viewpoint */

@media screen and (max-width: 375px) {

    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 71px 24px;
    }

    .testimonial-1>.brief {
        width: 262px;
    }

    .testimonial-1>.detail {
        width: 247px;
    }

    .quote {
        right: 24px;
    }
}